{% extends 'base.html' %}

<!-- HEAD -->
{% block head %}
<title>Generated Image</title>
{% endblock %}

<!-- BODY -->
{% block body %}
    <div class="generated_content">
        <h1 class="title">Light Generator</h1>

        {% if generated_image != "" %}
            <img 
            src="{{ generated_image }}"
                alt="Generated Image"
            >
        {% else %}
            <p>Aucune image générée pour le moment.</p>
        {% endif %}

        <a class="btn-primary" href="{{ url_for('generate') }}">
            Générer une nouvelle image
        </a>
        <a class="btn-secondary" href="{{ url_for('index') }}">
            Retour à la page d'accueil
        </a>
    </div>
{% endblock %}